body {
  background-color: rgb(52, 52, 52);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;
  font-size: 20px; /* 1vmax; */
}

#header {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(52, 52, 52);
  transition: all .3s ease;
  align-items: center;
  padding: 30px;
}

/* #header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#login-img {
  transform: rotate(180deg);
  height: 50px;
  filter: invert(1);
  cursor: pointer;
} */

#main {
  transition: margin-left .3s;
  margin-top: 130px;
  padding: 0px 30px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}